<template name="convolve">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=""}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Choose reverb</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="col col-50 col-offset-25">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle button-block" type="button" data-toggle="dropdown">Choose a reverb
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li class="church-option">Matteus Church</li>
            <li class="k4-option">K4</li>
            <li class="chamber-option">Old Chamber</li>
          </ul>
        </div>
      </div>
      <!--<button>Reverbify</button> -->

    {{/ionContent}}
  {{/ionView}}
</template>