<template name="convolve">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="hello" text="Back"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Choose reverb</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="col col-50 col-offset-25">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle button-block" type="button" data-toggle="dropdown">Choose a
            reverb
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li class="option">Matteus Church</li>
            <li class="option">K4</li>
            <li class="option" value="2">Old Chamber</li>
          </ul>
        </div>
      </div>

      <br><br>

    <div class="card hidden environment-card">
      <div class="item">
        <h2>{{env_title}}</h2>
      </div>

      <div class="item item-image">
        <!--<img src="/images/env_image_default.jpg">-->
        <img src={{env_image_src}}>
      </div>

      <div class="item">
        <button class="button button-assertive button-block reverbify-button">
          Reverbify!
        </button>
      </div>
    </div>
    <!--
      <div class="col col-33 col-offset-33">
        <button class="button button-assertive button-block reverbify-button">
          Reverbify!
        </button>
      </div>
      -->

    {{/ionContent}}
  {{/ionView}}
</template>