<template name="envModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-stable">
      <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
      <h2 class="title">{{title}}</h2>
    </div>

    <div class="list">
      <div class="item item-image">
        <img src={{image_src}}>
      </div>
    </div>

    <button class="button button-balanced button-large button-outline button-block reverbify-button"
            data-dismiss="modal">
      Reverbify!
    </button>

  {{/ionModal}}
</template>