<template name="hello">

	{{#contentFor "headerTitle"}}
    <h1 class="title">Reverbify</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

    	<br><br>

	    <div class="col col-50 col-offset-25">
		    <button class="button button-calm button-block">
		    	Use existing
		    </button>
		  </div>

	    <div class="col col-50 col-offset-25">
		    <button class="button button-balanced button-block">
		    	Record audio
		    </button>
		  </div>


    {{/ionContent}}
  {{/ionView}}
</template>