<template name="hello">
  <script src="./recorderjs/recorder.js"></script>

  {{#contentFor "headerTitle"}}
    <h1 class="title">Reverbify</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <br><br>

      <div class="col col-50 col-offset-25">
        <div class="ui styled fluid accordion">
          {{#each menuItems}}
            <div id="{{id}}" class="title">
              <i class="icon {{icon}}"></i>{{title}}
            </div>
            {{#if hasContent}}
              <div class="content">
                <div class="transition hidden">
                  {{> Template.dynamic template=meteorTemplate }}
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>

      <!-- default audio confirmation message -->
      <!-- hidden initially -->
      <div class="col col-50 col-offset-25 default-confirmation" style="display: none;">
        <p class="balanced">{{confirmation}}</p>
      </div>


      <br><br>

      <div class="col col-50 col-offset-25">
        <!-- <button class="button button-energized button-block icon-left ion-volume-high" id="preview-audio-button" style="color: rgba(50, 50, 50, 0.8);">Preview
        </button> -->
        <br>
        <button class="button button-balanced button-block {{continueButtonClass}}" id="continue-button">
          Continue
        </button>
      </div>

      <audio id="audio"></audio>

    {{/ionContent}}
  {{/ionView}}
</template>