<template name="select">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="hello" text="Back"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Choose reverb</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      
      <div class="list kernellist">
        {{#each environments}}
          <a id="{{id}}" class="item item-thumbnail-left option" href="#">
            <img src="/images/{{id}}.jpg">
            <h2>{{title}}</h2>
            <p>{{desc}}</p>
          </a>
        {{/each}}
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>