<template name="select">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="hello" text="Back"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Choose reverb</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      
      <div class="list kernellist">

      {{#each environments}}
        <a id="{{id}}" class="item item-thumbnail-left option" href="#">
          <img src="/images/{{id}}.jpg">
          <h2>{{title}}</h2>
          <p>{{desc}}</p>
        </a>
      {{/each}}

      </div>

      <div class="card hidden environment-card">
        <div class="item">
          <h2>{{env_title}}</h2>
        </div>

        <div class="item item-image">
          <!--<img src="/images/env_image_default.jpg">-->
          <img src={{env_image_src}}>
        </div>

        <div class="item">
        	<div class="button-bar">
	          <button class="button button-assertive button-block cancel-button">
	            Cancel
	          </button>

	          <button class="button button-calm button-block reverbify-button">
	            Reverbify!
	          </button>
	         </div>
        </div>
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>