// Custom/Override Variables:

// Greenish
$light: #F0FFFF !default;
$stable: #266C5A !default;
$positive: #8A8AE6 !default;
$calm: #4D8E7E !default;
$balanced: #02BD8E !default;
$energized: #E5AD3F !default;
$assertive: #C2332F !default;
$royal: #135343 !default;
$dark: #033427 !default;
