// Custom/Override Variables:

// light: Almost completely white. Used a lot for backgrounds
// assertive: Reddish. Good for error messages and stuff

// Greenish theme
$light: #FAFFFA !default;
$stable: #A3FFC2 !default;
$positive: #33CCCC !default;
$calm: #4D8E7E !default;
$balanced: #02BD8E !default;
$energized: #D1FF75 !default;
$assertive: #C2332F !default;
$royal: #135343 !default;
$dark: #033427 !default;
